.navbar{
    width: 1920px;
    box-sizing: border-box;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.50) 2.4px 2.4px 3.2px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
        font-size: 35px;
        color: white;
        margin-left: 100px;
    }
    
    
}